#search-blog-flk {
  padding:40px 0;
  .pink-btn {
    font-size:17px;
    padding:4px 30px;
    font-weight:400;
    font-family:$montserrat;
    @media only screen and (max-width : $screen-xs-max) {
      float:right;
      padding:4px 10px;
    }
  }
  .cat-dropdown {
    select {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      font-weight: 700;
    }
  }
  .search-field {
    input {
      font-size: 14px;
    }
  }
  @media only screen and (max-width : $screen-xs-max) {
    .form-control {
      width: 70%;
      display: inline-block;
    }
  }
}
