#clients-logo-carousel {
  padding-top:60px;
  padding-bottom:60px;
}

#clients-logo-carousel{

  #customNavContainer{
    margin-top: -125px;
    width: 100%;
    @media only screen and (max-width : $screen-sm-max) {
      display: none;
    }
  }
  .owl-prev{
    float:left;
    margin-left: -60px;
  }
  .owl-next{
    float: right;
    margin-right: -60px;

  }
  .owl-prev,
  .owl-next{
    @extend .btn;
    @extend .btn-link;
    .fa{
      font-family: FontAwesome;
      font-size: 60px;
      color: #444444;
    }
  }
}
