#pre-footer  {
  background-color: $falkon-pink;
  padding-top:60px;
  padding-bottom:60px;
  font-size:36px;
  line-height:42px;
  font-family: $montserrat;
  font-weight:500;
  color:$white;
  @media only screen and (max-width : $screen-sm-max) {
    padding-top:30px;
    padding-bottom:30px;
  }
  .visible-xs.visible-sm{
    height:24px;
  }
  .ghost-btn  {
    margin-left:20px;
    @media only screen and (max-width : $screen-sm-max) {
      margin-left:0;
    }
    &:hover, &:active, &:focus {
      background-color: $white;
      color: $falkon-pink !important;
    }
  }
  @media only screen and (max-width : $screen-xs-max) {
    text-align: center;
    font-size:32px;
  }
}

footer {
  background-color:$white;
  padding-top:$grid-gutter-width*1.75;
  padding-bottom:$grid-gutter-width*1.5;
  font-size:14px;
  line-height:24px;
  p{
    font-size:14px;
    line-height:24px;
  }
  .footer-socials-wrapper{
    margin-bottom: $grid-gutter-width;
    a{
      &:hover,&:hover:visited,&:active,&:focus{
        color: $falkon-pink;
      }
    }
  }

  .footer-links-nav {
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    li {
      display: inline;
      font-size:14px;
      font-weight:400;
    }
    li:after {
      content: '  |  ';
      margin:0 5px;
    }
    li:last-child:after {
      content: none !important;
    }
  }
  .footer-accreditation-logos{
    margin-bottom: $grid-gutter-width;
    img{
      margin:0 $grid-gutter-width/3 $grid-gutter-width/1.5;
    }
  }
}

//Footer Nav Menu
#menu-footer-menu{
  margin-bottom: $grid-gutter-width;
}

//Footer Links Menu
ul#footlinkmenu{
  display: inline;
  list-style: none;
  padding: 0; margin: 0;
  font-size:14px;
  line-height:24px;
  li{
    //float: left;
    display: inline;
    margin-right: 5px;

    //margin:0 5px;

    a{
      margin-left: 5px;
    }
    a:link,a:visited{
      color: inherit !important;
      text-decoration: none;
      &:hover,&:focus{
        text-decoration: underline;
        //color: $gjgreen;
      }
    }
    &.current-menu-item{
      a:link,a:visited{
        color: inherit !important;
        text-decoration: underline;
        &:hover,&:focus{
          text-decoration: underline;
          //color: $gjgreen;
        }
      }
    }
  }
}
.footerlinks{
  color: #2d2d2d;
  //font-weight: 300;
  margin-bottom: 0;
  a:link,a:visited{
    color: inherit !important;
    text-decoration: none;
    &.telephone{
      margin: 0 5px;
    }
    &:hover,&:focus{
      text-decoration: underline;
      //color: $gjgreen;
    }
  }
  .address{
    margin-right: 5px;
  }
}
