header {
  .hme-nav-wrapper {
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1300;
  }
  .no-vis {
    z-index: 4 !important;
  }
  .video-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    background-color: #242e3a;
    height: 80vh;
    width: 100%;
    @media screen and (min-width:480px) and (max-width:767px){
    //@media only screen and (max-width : $screen-sm-max) and (min-width : $screen-xs-max) {
      height: 100vh;
    }

    .feature-video-bg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      -webkit-transform-origin: center;
      transform-origin: center;

    }
  }
  .video-overlay {
    background-image: url('../images/banner-bg-shadow.png');
    background-repeat: repeat-x;
    background-position: top center;
    background-size: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: relative;
    width:100%;
    height: 100vh;
    z-index:5;
    background-color: rgba(0, 0, 0, 0.40);
    .container {
      min-height: 100vh;
      display: flex;
      align-items: center;
      .row{
        //margin-top: 15vh;
      }
      .header-txt {
        color: $white;
        .fa {
          font-size: 120px;
          padding-bottom: 20px;
        }
        h1 {
          font-size: 60px;
          color: $white;
          //font-family: $robot;
          @media screen and (min-width:480px) and (max-width:767px){
            font-size: 50px;
          }
        }
        h3,.h3 {
          font-size: 36px;
          color: $white;
          font-weight: 500;
          @media screen and (min-width:480px) and (max-width:767px){
            font-size: 30px;
          }
        }
        span {
          font-size: 18px;
          font-weight: 300;
          font-family: $robot;
        }
      }
    }
    .row  {
      width:100%;
      margin-left: 0;
      margin-right: 0;
    }
  }




  .modal {
  }
  .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
  }
  .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
  }
  .modal-content {
    background-color: transparent;
    height:inherit;
    margin: 0 auto;

    width:60%;
    @media only screen and (max-width : $screen-xs-max) {
      width:95%;
    }

    .close-video {
      background-color: #000;
      border: 2px solid #fff;
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      position: absolute;
      right: -40px;
      top: -40px;
      z-index: 400;
      padding: 0;
      width: 40px;
      border-radius: 40px;
      height: 40px;
      text-align: center;
      &:active {
        background-color: #333333;
      }
    }
  }
.inner-header-shadow{
  background-image: url(../images/banner-bg-shadow.png);
  background-repeat: repeat-x;
  background-position: top center;
  height: 100%;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-size: auto;
}
  // for uploaded banners of default banner :
  .inner_header {

    position: relative;
    background-color: $black;
    background-position: center;
    background-size: cover;
    .container:not(:first-of-type) {
      min-height: 85vh;
      @media screen and (min-width:480px) and (max-width:767px){
        min-height: 100vh;
      }
      display: flex;
      align-items: center;
      .header-txt {
        font-family: $montserrat;
        color: $white;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        //width: 100%;
        display: contents;
        @media only screen and (max-width : $screen-xs-max) {
          //width: auto;
        }
        .col-xs-12{
          padding-left:0;
          padding-right:0;
        }
        h1 {
          font-size: 60px;
          @media screen and (min-width:480px) and (max-width:767px){
            font-size: 48px;
          }
          @media only screen and (max-width : $screen-xs-max) {
            font-size: 46px;
          }
          color: $white;
        }
        h3,.h3 {
          font-size: 36px;
          padding: 0;
          @media only screen and (max-width : $screen-xs-max) {
            font-size: 28px;
            line-height: 32px;
            padding-top: 0;
          }
          color: $white;
        }
        span {
          font-size: 18px;
          font-weight: 300;
        }
      }
    }
    .row {
      //width:100%;
      //margin-left:0;
      //margin-right:0;
    }
  }

  // for post thumbnail banner fallback (needs opacity adding) :
  .inner_header_post_thumb {
    position: relative;
    background-color: $black;
    background-position: center;
    background-size: cover;
    .dark_overlay {
      position:relative;
      left:0;
      top:0;
      right:0;
      bottom:0;
      background-color: rgba(0, 0, 0, 0.75);
      .container:not(:first-of-type) {
        min-height: 85vh;
        display: flex;
        align-items: center;
        .header-txt {
          font-family: $montserrat;
          color: $white;
          word-break: break-word;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
          //width: 100%;
          display: contents;
          h1 {
            font-size: 60px;
            color: $white;
            @media screen and (min-width:480px) and (max-width:767px){
              font-size: 48px;
            }
            @media only screen and (max-width : $screen-xs-max) {
              font-size: 46px;
            }
          }
          h3,.h3 {
            font-size: 36px;
            color: $white;
            font-weight: 500;
            @media only screen and (max-width : $screen-xs-max) {
              font-size: 28px;
              line-height: 32px;
              padding-top: 0;
              margin-top:0;
              margin-bottom:0;
            }
          }
          span {
             font-size: 18px;
             font-weight: 300;
           }
        }
      }
    }
    .row {
      //width:100%;
      //margin-left:0;
      //margin-right:0;
    }
  }
// header
}
