#page-content {
  padding-top: $grid-gutter-width*2;
  padding-bottom: $grid-gutter-width*2;
  //Custom Bullets
  ul.ticks {
    list-style-type: none;
    li {
      list-style-position: inside;
      text-indent: -32px;
      padding:5px 0;
    }
    @media only screen and (max-width : $screen-sm-max) {
      li {
        margin-left:30px;
      }
    }
    li:before {
      content: "\f058";
      font-family: FontAwesome;
      padding-right: 15px;
      color: $falkon-pink;
    }
  }
}


#contact-content {
  #page-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .two-col-img {
    background-size: cover !important;
  }
}
#grey-page-content {
  padding-top: $grid-gutter-width*2;
  padding-bottom: $grid-gutter-width*2;
  background-color: $seashell;
  border-top:1px solid $seashell-border;
  border-bottom:1px solid $seashell-border;

  //Contact bullets
  ul.contactli {
    list-style-type: none;
    margin-left: 32px;
    li {
      list-style-position: inside;
      text-indent: -32px;
      line-height: 28px;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: $padding-base-vertical*2;
    }
    @media only screen and (max-width : $screen-sm-max) {
      li {
        margin-left:30px;
      }
    }
    li.location:before {
      content: "\f1ad";
      font-family: FontAwesome;
      padding-right: 15px;
      color: $falkon-pink;
      font-size: 18px;
    }
    li.phone:before {
      content: "\f098";
      font-family: FontAwesome;
      padding-right: 15px;
      color: $falkon-pink;
      font-size: 18px;
    }
    li.email:before {
      content: "\f0e0 ";
      font-family: FontAwesome;
      padding-right: 15px;
      color: $falkon-pink;
      font-size: 18px;
    }
    li.email{
      a{
        color: $falkon-pink;
      }
    }
  }
}

#custom-two-col-sc {
  //padding-top:80px;
  //padding-bottom:80px;
  .two-col-cntent {
    padding-top:$grid-gutter-width*2;
    padding-bottom:$grid-gutter-width*2;
    @media only screen and (max-width: $screen-sm-max) {
      padding-top:50px;
      padding-bottom:50px;
    }
  }
  .two-col-img {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    @media only screen and (max-width: $screen-sm-max) {
      height:340px !important;
    }
  }
  @media only screen and (max-width: $screen-sm-max) {
    text-align:center;
  }
}

body.page-template-tpl-contact-us{
  footer{
    border-top:4px solid $falkon-pink;
  }
}

