#project-features {
  ul {
    list-style-type: none;
    margin-top:0;
    margin-left:0;
    li {
      color: $falkon-pink;
      font-size:14px;
      font-family:$open-sans;
    }
  }
}


/* SHOWCASE */
#our-work-showcase {
  margin-bottom:140px;
  @media only screen and (max-width : $screen-xs-max) {
    margin-bottom:110px;
  }
  @media only screen and (max-width : 400px) {
    margin-bottom:80px;
  }
    position:relative;
  padding:40px 0 0 0;
  .title-row  {
    padding:20px 0 40px 0;
    h3 {
      font-size:32px;
      color:inherit;
    }
  }
  //.showcase-txt  {
  //  min-height:320px;
  //  p {
  //    line-height:32px;
  //    font-size:21px;
  //    color:inherit;
  //    font-weight:300;
  //  }
  //}
  .showcase-img  {
    position: absolute;
    width:100%;
    left:0;
    right:0;

    //min-height:320px;
  }
  @media only screen and (max-width : $screen-sm-max) {
    .showcase-txt  {
      min-height:0;
      text-align:center;
    }
    .showcase-img {
       top:20px;
    }
  }
}
.showcase_bg {
  min-height:600px;
  @media only screen and (max-width : $screen-md-max) {
    min-height: 450px;
  }
  @media only screen and (max-width : $screen-xs-max) {
    min-height: 420px;
  }
  @media only screen and (max-width : 400px) {
    min-height: 360px;
  }
}