#single-banner  {
  background-color: #000;
  margin-bottom:40px;
  .container {
    position:absolute;
    top:280px;
    left:0;
    right:0;
    h1 {
      color:$white;
      text-align:center;
      font-size:60px;
      line-height:72px;
    }
    @media only screen and (max-width : $screen-xs-max) {
      h1  {
        font-size:34px;
        line-height:44px;
      }
    }
  }
}
