.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 select
{
  background-color: $white;
  margin:10px 0;
  padding:0 10px;
  border-radius:8px;
  color: #000;
  border:1px solid #c8c8c8;
  width: 100%;
  height:50px;
  line-height:30px;
}
.wpcf7 textarea {
  background-color: $white;
  margin:10px 0;
  padding:0 10px;
  border-radius:8px;
  color: #000;
  border:1px solid #c8c8c8;
  width: 100%;
  height:200px;
  line-height:30px;
}

// errors placeholder
span.wpcf7-not-valid-tip {
  color: red !important;
  background-color: inherit;
  text-align: right;
  border: 0;
  margin-top: -70px;
  padding: 25px 15px;
  font-weight: bold;
  font-family: $montserrat;
  font-size: 18px;
  width: 50px;
  float: right;
  z-index: 2;
  position: relative;
}
@media only screen and (max-width : $screen-xs-max) {
  span.wpcf7-not-valid-tip {
    margin-top:-63px;
  }
}
.wpcf7-response-output{
  border-radius: 8px;
  margin-left: 0;
  margin-right: 0;
}

// error message
div.wpcf7-validation-errors {
  margin-top: 5px;
  text-align: center;
  color: #8a6d3b !important;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  padding:15px;
}
//success
div.wpcf7-mail-sent-ok {
  color: #3c763d;
  text-align: center;
  background-color: #dff0d8;
  border: 1px solid #5ab45c;;
  padding: 15px;
  margin-top: 5px;
}

#apply-cf7 {
  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 input[type="tel"],
  .wpcf7 select,
  .wpcf7 textarea
  {
    background-color: #fff;
    margin:10px 0;
    padding:0 10px;
    line-height:30px;
    height:60px;
    border-radius:8px;
    color: #858585;
    font-size:16px;
    border:1px solid #c0c0c0 !important;
    width: 100%;
  }
  .wpcf7 textarea {
    height:200px !important;
  }
  .center-lh-rcp  {
    display: block;
    margin:0 auto;
  }
  .apply-lh-sub  {
    width:75%;
    font-size:24px;
//    display: block;
//    margin:0 auto;
    margin-top:15px;
    &:hover {
      background-color: $white;
    }
  }
  // errors placeholder
  span.wpcf7-not-valid-tip {
    color: red !important;
    background-color: inherit;
    text-align: right;
    border: 0;
    margin-top: -65px;
    padding: 15px;
    font-weight: bold;
    font-family: $montserrat;
    font-size: 18px;
    width: 50px;
    float: right;
    z-index: 2;
    position: relative;
  }
  @media only screen and (max-width : $screen-xs-max) {
    span.wpcf7-not-valid-tip {
      margin-top:-65px;
    }
  }
  // error message
  div.wpcf7-validation-errors {
    margin-top: 5px;
    text-align: center;
    color: #8a6d3b !important;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    padding:15px;
  }
}