.ghost-btn  {
  background-color: transparent;
  border:2px solid $white;
  color:$white !important;
  border-radius: 5px;
  font-size:24px;
  line-height:42px;
  padding:15px 48px;
  font-weight:400;
  font-family: $montserrat;
  transition: all .25s ease-in-out;
  &:hover, &:active, &:focus {
    background-color: $falkon-pink;
    border:2px solid $white;
    transition: all .25s ease-in-out;
  }
}
.ghost-btn-drk  {
  background-color: transparent;
  border:2px solid $border-drk;
  color:$border-drk;
  border-radius: 25px;
  font-size:21px;
  font-family: $montserrat;
  padding:15px 48px;
  transition: all .25s ease-in-out;
  &:hover, &:active, &:focus {
    background-color: $falkon-pink;
    border:2px solid $white;
    color:$white;
    transition: all .25s ease-in-out;
  }
}
.pink-btn  {
  background-color: $falkon-pink;
  border:2px solid $falkon-pink;
  color:$white;
  border-radius: 5px;
  font-size:21px;
  font-family: $montserrat;
  padding:15px 48px;
  transition: all .25s ease-in-out;
  &:hover, &:active, &:focus {
    background-color: $white;
    border:2px solid $falkon-pink;
    color:$falkon-pink;
    transition: all .25s ease-in-out;
  }
}
