.pagination-flk {
  line-height: 0;
  margin-bottom: 20px;
  background-color: $seashell;
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 0;
    line-height: 0;
    .active {
      display: inline;
    }
  }
  .pagination  li {
    a, span {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      background-color: transparent;
      border-radius: 0;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      color: $black;
    }
    span.current {
      padding: 15px 10px;
      background-color: transparent;
      border-radius: 0;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      color:$black;
      border-bottom:2px solid $falkon-pink;
    }
  }
}
