// navs
#head-menu {
  padding:20px 0;
  .scroller_default {
    background-color: transparent;
    border-bottom: 0;
  }
}
#scroll-menu {
  padding:15px 0;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:9900;
  width:100%;
  //height:75px;
  display: none;
  .navbar-toggle {
    //right:-10px;
    top:-10px;
    &.collapsed {
      .menu-txt {
        color: $black;
      }
      .top-bar {
        transform: rotate(0);
        background-color: $black !important;
      }
      .middle-bar {
        opacity: 1;
        background-color: $black  !important;
      }

      .bottom-bar {
        transform: rotate(0);
        background-color: $black  !important;
      }
    }
  }
}
body.admin-bar #scroll-menu{
  top:32px;
  @media only screen and (max-width : 600px) {
    top:0;
  }
}
// padding issue fix
.modal-open #scroll-menu {
  //padding-right: 17px;
}
// stick menu style
.scroller_default {
  background-color: $white;
  border-bottom:1px solid #e6e6e6;
  .scroll_logo {
    display: inline-block;
    margin-top: 5px;
  }
  .navbar-toggle {
    color:#000;
  }
}
.scroller_clear {
  background-color: $falkon-pink;
  transition: all .25s ease-in-out;
  .scroll_logo {
    display: none;
  }
}


// remove some defaults
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus  {
  background-color: transparent;
}
#nav {
  border-bottom:0 !important;
}

// early mobile collapse 9999 = full screen navbar
@media (max-width: 9999px) {
  .navbar {
    padding-left: 0px;
  }
  .navbar-header {
    float: none;
    border: 0px;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    height:100% !important;
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    border: 0;
    padding-bottom: 5px;
    background-color: transparent;
  }
  .collapse.in {
    display: block !important;
  }
}
// end early mobile collapse


.modal-open, .modal-open .navbar-header {
  margin-right: 0 !important;
}

// Modal Style

#nav-modal, #nav-modal22  {
  background-color: $falkon-pink;
  color:#fff;
  z-index:8000;
  text-align: center;
  font-family: $montserrat;
  a.sociallink2 {
    margin-top:30px;
    color:$white !important;
    :hover {
      color:$white !important;
    }
  }
  .fa {
    font-weight:300 !important;
  }
  .flkn-number  {
    font-weight: 500 !important;
    font-size:36px;
  }
  ul {
    margin: 0;
    height:100%;
    bottom:0;
    padding-top:90px;
    padding-left:0;
    padding-bottom:20px;
    line-height:40px;
    list-style-type: none;
    list-style-image: none;
    li{
      line-height:40px;
      padding: 15px 0;
    }
    li a {
      text-decoration: none;
      font-size:36px;
      line-height:0.5;
      color: $white;
      min-width:100%;
      font-weight:700 !important;
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
  hr {
    width:10%;
    border:1px solid $white;
    margin-bottom:50px;
    @media only screen and (max-width : $screen-sm-max) {
      width:20%;
    }
    @media only screen and (max-width : $screen-xs-max) {
      width:40%;
    }
  }
  .dropdown-menu {
    margin:20px 0;
    border:0;
    background-color: transparent !important;
    min-width: 100%;
    text-align: center;
    position: relative;
    height: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-top:2px !important;
    padding-bottom:2px !important;
    li {
      padding: 5px 0 !important;
    }
    > li > a {
      width:100%;
      font-weight:400 !important;
      font-size:24px !important;
      line-height:28px;
    }
    > li > a:hover,a:focus,a:active {
      background-color: transparent;
    }
  }
  .subclicker  {
    margin-left:15px;
    font-size:28px;
  }
}
// Caret rules
.subclicker  {
  display:none !important;
}
.menu-item-has-children {
  .subclicker {
    display: inline !important;
    padding-left:10px;
  }
}
.dropdown-menu  {
  .subclicker {
    display: none !important;
  }
}
// Sub menu rules
.sub-active {
  display: block !important;
}
.hide-subcli {
  display:none !important;
}

/* Modal Right align FIX */
body.modal-open {
  .hdr-atom {
    right: 17px !important;
  }
}
/* Toggle Control */

.navbar-toggle {
  border: none;
  position:relative;
  background: transparent !important;
  //top:10px;
  border-bottom:0;
//  right:5px;
  color: $white;
   padding: 0;
   margin-top: 0;
   margin-bottom: 0;
  margin-right: -15px;
   z-index:9900;
  .menu-txt {
    top: 21px;
    text-transform: uppercase;
    position: relative;
    right: 64px;
    letter-spacing: normal;
    font-size: 16px;
    font-weight:400;
    font-family: $montserrat;
    color: $white;
    visibility: hidden;
  }
  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 30px;
    height:4px;
    transition: all 0.35s;
  }
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
      background-color: $white !important;
    }
    .middle-bar {
      opacity: 0;
      background-color: $white !important;
    }

    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
      background-color: $white !important;
    }
  &.collapsed {
    .menu-txt {
      visibility: visible;
    }
    .top-bar {
      transform: rotate(0);
      background-color: $white !important;
    }
    .middle-bar {
      opacity: 1;
      background-color: $white  !important;
    }

    .bottom-bar {
      transform: rotate(0);
      background-color: $white  !important;
    }
  }
}
@media only screen and (max-width : $screen-xs-max) {
  .navbar-toggle {
    right:0 !important;
  }
}



