#instagram-feed {
  background-color: $seashell;
  border-top:1px solid $seashell-border;
  border-bottom:1px solid $seashell-border;
  padding-top:$grid-gutter-width*3;
  padding-bottom:$grid-gutter-width*2; //See margin below
  hr.pink {
    margin-bottom:60px;
  }
  .feedimg {
    width:100%;
    height:auto;
    //height: 270px;
    //width: 270px;
    //@media only screen and (max-width : $screen-sm-max) {
      //height: 270px;
      //width: 100%;
      margin-bottom:$grid-gutter-width;
    //}
    background-size: cover;
    background-position: center;
  }
}
