#work-thumbs  {
  h2 {
    font-size:36px;
    line-height:42px;
    font-weight:500;
    margin-top:50px;
  }
  hr.pink {
    margin-bottom:50px;
  }
  .bg_hold  {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    padding-top:200px;
    padding-bottom:200px;
    @media screen and (min-width:480px) and (max-width:767px){
      //width:50% !important;
    }
  }

  .hidden-hover {
    opacity: 0;
    padding-top:180px;
    padding-bottom:180px;
    @media (max-width: $screen-xs-max) {
      padding-top:100px;
      padding-bottom:100px;
    }
    transition:all 0.6s;
    background-color:rgba(212, 0, 110, 0.75);
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    color:$white;
    font-family: $montserrat;
    .overlay-title {
      color:$white;
      font-weight:400;
      font-size:48px;
      line-height:42px;
      font-family: $montserrat;
      margin-bottom:20px;
    }
    .overlay-sub-title  {
      color:$white;
      font-weight:400;
      font-size:24px;
      line-height:42px;
      font-family: $montserrat;
      margin-bottom:20px;
    }
    &:hover {
      opacity:1;
    }
  }
}