// Normal Feed
.post-holder  {
   background-color: $white;
   display:block;
   margin:0 auto;
   margin-bottom:$grid-gutter-width;
   min-height:410px;
   .post-content {
     padding:20px;
     @media only screen and (max-width: $screen-xs-max) {
       padding:20px 10px;
     }
     .post-title {
       h4 {
         padding: 10px 5px;
         font-size: 18px;
         line-height:26px;
         font-weight:700;
         font-family:$open-sans;
         margin-bottom:10px;
       }
     }
     .post-exrt  {
       p {

         font-size: 14px;
         font-family:$open-sans;
         line-height:24px;
       }
     }
     .post-read-more {
       font-size:16px;
       font-weight:700;
     }
   }
  .blog-single-thumbnail  {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    height:220px;
  }
  .blog-single-thumbnail-img{
    width:100%;
    height: auto;
  }
}

// Sticky style
.sticky-post-holder  {
  background-color: $white;
  display:block;
  margin:0 auto;
  .post-content {
    padding:20px;
    @media only screen and (max-width: $screen-xs-max) {
      padding:20px 10px;
    }
    .h1-pt {
      margin-top:20px;
    }
    .post-title {
      h4 {
        padding: 10px 5px;
        font-size: 24px;
        font-weight:700;
        font-family:$open-sans;
        line-height:42px;
        margin-bottom:10px;
      }
    }
    .post-exrt  {
      p {
        font-size: 14px;
        font-family:$open-sans;
        line-height:24px;
      }
    }
    .post-read-more {
      font-size:16px;
      font-weight:700;
    }
  }
  .blog-single-thumbnail  {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    height:420px;
    @media only screen and (max-width: $screen-sm-max) {
      height:220px;
    }

  }
  .blog-single-thumbnail-img{
    width:100%;
    height: auto;
  }
}
