@import "variables/_colors.scss";
@import "variables/_fonts.scss";

@import "_bootstrap.scss";

@import "partials/_header.scss";
@import "partials/_home.scss";
@import "partials/_services.scss";
@import "partials/_blog.scss";
@import "partials/_projects.scss";
@import "partials/_social-links.scss";
@import "partials/_page.scss";
@import "partials/_footer.scss";
@import "partials/_backtotop.scss";

@import "components/_banner-single.scss";

@import "components/_our-staff-block.scss";
@import "components/_instagram-feed.scss";

/* Navbar options */
@import "components/_full_hamburger_navbar.scss";
@import "partials/_client_carousel.scss";
//@import "components/_client_logo_carousel.scss";

@import "components/_sub-pg-list.scss";
@import "components/_our-work-thumbs-block.scss";
@import "components/_customowl.scss";
@import "components/_custom-pagination.scss";
@import "components/_cf7_forms.scss";
@import "components/_custom_btns.scss";
@import "components/_post_feed.scss";


@import "global/_mainstyles.scss";
@import "partials/_wordpress.scss";



#site-timers{
  position: fixed;
  bottom:0;
  color: #fff;
  padding: $grid-gutter-width/2;
  opacity: 0.75;
  border-top-right-radius: $grid-gutter-width/2;
  z-index: 99999999999;
  p {
    color: #fff;
  }
}

#falkon_cms_logos_wrapper{
  img{
    margin-bottom: $grid-gutter-width/2;
  }
}


@media only screen and (min-width : $screen-lg) {
  .mega-image{
    img {
      max-width: none;
      float: right;

    }
    &.text-right {
      img {float: right;}
    }
    &.text-left {
      img {float: left;}
    }
  }
}

.vertical-align {
  display: flex;
  align-items: center;
  @media only screen and (max-width : $screen-xs-max) {
    display: inherit;
  }
}

#page-content {
  .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    margin-top:$grid-gutter-width;
    height: 0;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#cookie-notice{
  .cookie-notice-container{
    a.ghost-btn{
      font-size: inherit;
      padding: inherit;
      line-height: 1;
      border-width: 1px;
    }
  }
}

.container .row{
  &.header-txt{
    //width:100%;
  }
}
#vlogs-youtube-feed{
  padding-bottom: $grid-gutter-width*2;
}
#page-content #vlogs-youtube-feed .video-container{
  margin-top: 0;
  @media only screen and (max-width : $screen-sm-max) {
    margin-top: $grid-gutter-width;
  }
}

.grecaptcha-badge {
  display: none !important;
}
