// GENERAL colors
$seashell: #f5f5f5;
$seashell-border:#e0e0e0;
$atom-blue : #1c94c6;
$border-drk : #6d6d6d;
$white: #fff;
$footer-bg-grey: #141516;
$black: #000000;
$falkon-pink: #d5026f;

// MENU
$menu-hover: #f0f0f0;

// FONT colors
$font-grey: #454545;
$font-light-grey: #c9c9c9;
