body {
  font-family: $open-sans;
  line-height:20px;
  overflow-x: hidden;
}
/* unset bs3 setting */
.modal-open {
  overflow-x: hidden;
}
h1,h2,h3,h4,h5  {
  font-weight: 700;
  margin:0;
  font-family: $montserrat;
  padding:15px 0;
  color:$font-grey;
}
.h1-pt  {
  font-size:36px;
  font-weight:500;
  line-height: 42px;
  font-family: $montserrat;
}
h2  {
  font-weight:400;
  line-height:42px;
  font-size:36px;
}
h3 {
  font-weight:400;
  line-height:40px;
  font-size:32px;
}
.h3 {
  font-size:24px;
  font-weight:500;
  line-height: 42px;
  font-family: $montserrat;
  margin-bottom:10px;
}
h4  {
}
h5 {
}
p  {
  line-height: 28px;
  font-size: 16px;
  color: $font-grey;
}
ul {
  padding-left:0;
  list-style-position: inside;
}
ul {
  padding-left:0;
  list-style-position: inside;
  font-size:16px;
  margin:12px;
  li {
    line-height: 28px;
  }
}
ol {
  padding-left:0;
  list-style-position: inside;
  font-size:16px;
  margin:12px;
  li {
    line-height: 28px;
  }
}

.extra-bold  {
  font-size:24px; font-weight:bold; color:#464646;
}

@media only screen and (max-width : $screen-sm-max) {
  hr.underlined  {
    width:20%;
  }
}
@media only screen and (max-width : $screen-xs-max) {
  hr.underlined  {
    width:50%;
  }
}
.pink {
  color: $falkon-pink;
}

a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
a:active {
  color: inherit;
  text-decoration: none;
}
.np {
  padding:0 !important;
}
img  {
  max-width:100%;
}
.custom-pad  {
  padding-left:8px;
  padding-right:8px;
}
.even-vt-spcer  {
  padding:20px 0;
}
.spacer-top  {
  padding-top:20px;
}
.spacer-top-large  {
  padding-top:60px;
}
.spacer-bottom {
  padding-bottom:20px;
}
//.pd-cf {
//  padding-left:40px;
//  @media only screen and (max-width : $screen-sm-max) {
//    padding-left:0;
//  }
//}

#error-page {
  padding:50px 0;
}

hr.pink {
  border:1px solid $falkon-pink;
  width: 10%;
  margin-top:30px;
  margin-bottom:30px;
  @media only screen and (max-width : $screen-md-max) {
    width: 25%;
  }
  @media only screen and (max-width : $screen-sm-max) {
    width: 35%;
  }
  @media only screen and (max-width : $screen-xs-max) {
    width: 50%;
  }
}