/* General Field CSS */

.my_meta_control .description
{ /*display:none;*/  }
.my_meta_control label
{ display:block; font-weight:600; font-size:15px; margin-bottom:0; margin-top:12px; }

.my_meta_control label span
{ display:inline; font-weight:normal; }

.my_meta_control span
{  display:block; margin-bottom:6px;}
.my_meta_control span em
{ color:#999; display:block; margin-bottom:6px;}


.my_meta_control textarea
{ margin-bottom:3px; width:99%; }

.my_meta_control input[type='text']
{ margin-bottom:3px; width:100%; }

.my_meta_control h4
{ color:#999; font-size:1em; margin:15px 6px; text-transform:uppercase; }

/*input  {*/
    /*width:100%;*/
/*}*/

.awesome-content-iner {
    width:50%; height:inherit;  display: block;
}
.side-img  {
    width:75%;
    margin:0 auto;
    max-height:280px;
}

textarea  {
    width:100%;
    min-height:120px;
}
.spacer  {
    border-bottom:1px solid #000;
}


/* START Slider / Banner CSS */


.default-image,.slideimg {
    width:100%;
    margin:0 auto;
    display: block;
    padding:20px 0px;
}

.submitdelete{
    color: #a00;
    text-decoration: none;
}
.submitdelete:hover{
    color: red;
    text-decoration: none;
    border: 0;
}

.banner_meta_control{
    overflow: visible;
}

th#banner-thumb{width:300px;}
th#tag-text-th{width:100px; word-break: keep-all;}

body.post-type-banner #post-body-content{
    margin-bottom: 0;
}

table textarea{resize: vertical;}

/* Start slide preview */
#slide-preview {
    position: relative;
}

#slide-preview  .slideimg {
    width:100%;
}
#slide-preview  .text-overlay {
    position: absolute;
    top: 35%;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    left: 0;
    right: 0;
    color:#fff;
}
#slide-preview .slide-subtitle-thumb  {
    font-weight:300;
    font-size:18px;
}
#slide-preview .slide-title-thumb  {
    font-weight:500;
    font-size:28px;
}
#slide-preview .slide-subtitle-main  {
    font-weight:300;
    font-size:24px;
}
#slide-preview .slide-title-main {
    font-weight:500;
    font-size:38px;
}
@media only screen and (max-width : 650px) {
    #slide-preview  .text-overlay {
        display:none;
    }
}

/* END Slider / Banner CSS */
